head
  title #{page.title} - #{locals.name}
  link(rel='stylesheet', href=contents.css['admin.css'].url)
  link(rel='stylesheet', href=contents.css['darcula.css'].url)
  link(rel='stylesheet', href=contents.css['docs.css'].url)
  script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")
  script(src="/js/utils.js")

  script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-116668472-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-116668472-1');