doctype html
html(lang='en')
  head
    title #{page.title} - #{locals.name}
    link(rel='stylesheet', href=contents.css['admin.css'].url)
    link(rel='stylesheet', href=contents.css['docs.css'].url)

    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-116668472-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116668472-1');
      
  body
    <div id="gsf" class="container-fluid">
      <div class="row mb-1">

        <div class="col-lg-5 col-md-8 col-sm-10 mx-auto mt-3">
          <div class="card card-main shadow-sm text-primary bg-white">
            <div class="card-header text-center px-0">
              <a class="secondary" href="/index.html">
                img(src=contents.img['gsf-logo.png'].url alt='getsetfetch' class='')
                <br/>
                p 
                  b 
                    | Browser Extension
              </a>

              if /thank-you-install.md$/.test(page.filepath.relative)
                P
                  | Thank you for installing <b>get-set, Fetch! v.#{locals.version}</b>
            </div>

            div.card-body.py-3.px-5.text-justify(style="margin-bottom:0")
              != page.html

              if /thank-you-install.md$/.test(page.filepath.relative)
                <p></p>
                p
                  <a class="secondary" href="/changelog.html">Complete changelog</a>
                p
                  <a class="secondary" href="/index.html">Back to documentation</a>
          </div>
        </div>

      </div>
    </div>
